.covers {
  margin-top: 150px;
  @media (max-width: 880px) {
    margin-top: 70px;
  }
}

.coverItem {
  list-style: none;
  img {
    margin-left: auto;
    margin-right: auto;
  }
  margin-bottom: 150px;
  @media (max-width: 745px) {
    margin-bottom: 50px;
  }
}
