@import "../../../helpers/variables";

.btn {
  display: inline-block;
  font-size: 3.7rem;
  text-decoration: none;
  color: $mainFontColor;
  margin-top: 150px;
  transition: all 500ms;
  &:hover {
    color: #0c5da5;
  }
  &:global(.decorate) {
    border-bottom: 3px solid #424242;
    &:hover {
      border-bottom: 3px solid #0c5da5;
    }
  }
  @media (max-width: 745px) {
    margin-top: 50px;
  }
  @media (max-width: 486px) {
    font-size: 2.5rem;
  }
}
